h1{
	text-align: center;
	font-family: broadway;
	font-size: 50px;
	background-color:#e7e5cb
}
ul li {
	font-family: monospace;
	font-size: 20px;
}
img{
	transition: all 0.6s ease;
}
img:hover{
	transform: rotateZ(360deg);
}
figure img{
	border: 2px solid black;
}
