/*general*/
body{
	font-family: 'Maven Pro', sans-serif !important;
}

hr{
	border: none;
    height: 1px;
    background-color: #333;
}

::-webkit-input-placeholder {
   text-align: center;
   color: black;
}

/*navbar*/

.navbar{	
	background-color: #2f2f2f;
	height: 70px;
	z-index: 150;
	position: fixed;
	top: 0;
	width: 100%;
  color: #666666;
  font-family: 'Maven Pro', sans-serif !important;
	font-weight: bold;
}

.navbar-text{
	padding: 5px 5px;
	float: right;
	font-weight: bold;
}

.navbar-brand{
  padding: 10px 10px;
	float: right;
	font-weight: bold;
}

.nav li{
	padding: 10px 10px;
}

.nav > li > a {
	font-family: 'Maven Pro', sans-serif !important;
	font-weight: bold;
	color: #666666;
}

.nav li a:hover{
	background-color: rgba(0, 0 ,0, 0.3);
	color: white;
}


/* display this row with flex and use wrap (= respect columns' widths) */

.row-flex {
  display: flex;
  flex-wrap: wrap;
}


/* vertical spacing between columns */

[class*="col-"] {
  margin-bottom: 30px;
}

.content {
  height: 100%;
  padding: 20px 20px 10px;
  color: #fff;
}


/* Demo backgrounds and styling*/

.colour-1 {
  background: #483C46;
  color: #fff;
}

.content h3 {
  margin-top: 0px;
  font-weight: 300;
}

h1 {
  font-weight: 300;
  margin-bottom: 40px;
}